body {
	font-family: 'Crimson Text', 'CrimsonText', serif !important; 
	background-color: #fafafa;
	font-size:14pt  !important;
}

.grey {
	color: #BDBDBD;
}

.form-group label, .form-control {
	font-size:14pt !important;
}

.form-group .help-block { 
	position: relative;
	display: block;
	font-size: 12pt !important; 
}

.form-group label {
	font-family: 'Montserrat', sans-serif; 
	font-weight: 700;
	text-transform: uppercase;
}

.form-control {
	background-color: #fff !important;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px; 
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td, 
.table>thead>tr>th { 
	vertical-align: middle !important; 
}

.mergedtoprow {
	border-top: solid 1px #dddddd;
}

.mergedbottomrow {
	border-bottom: solid 1px #dddddd;
}

thead {
	font-size: 14pt !important; 
	font-family: 'Montserrat', sans-serif; 
	font-weight: 700; 
	text-transform: uppercase;
	color: #BDBDBD;
}

tbody {
	font-size: 14pt !important; 
}

h1 { 
	font-size: 60pt !important; 
}

h2 { 
	font-size: 30pt !important;
}

.btn .btn-lg .btn-default .btn-primary { 
	font-family: 'Montserrat', sans-serif; 
	font-weight: 700;
	text-transform: uppercase;
}


.display-3 { 
	padding-top: 1em; 
	padding-bottom: 0.5em;
	font-family: 'Montserrat', sans-serif; 
	font-size: 80px !important; 
	text-align: center; 
	/* 	font-family: 'Open Sans', sans-serif; */
}

.lead { 
	font-size: 40px !important; 
	font-style: italic;
	text-align: center; 
}

.g-signin2 {
	padding-top: 100px;
}

.navbar.navbar-default { 
	background-color: #ff7050; 
	font-size: 12pt;
	font-weight: 700;
	text-transform: uppercase;
	color: rgba(255,255,255, 0.80);
}

.infobox {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #bbbbbb;
    padding-left: 20px;
}

.infoboxtable {
	width: 100%;
	margin-bottom: 30px; 
}

.infoboxtable h3 { 
	margin-top: 10px !important; 
}