
body {
	/* font-family: 'Crimson Text', serif; */
}

h1 { 
	font-size: 80px !important; 
}

h2 { 
	font-size: 3em !important;
}

.display-3 { 
	padding-top: 1em; 
	padding-bottom: 0.5em;
	font-family: 'Arial', serif; 
	font-size: 80px !important; 
	/* 	font-family: 'Open Sans', sans-serif; */
}

.lead { 
	font-family: 'Libre Baskerville', serif; 
	font-size: 40px !important; 
	font-style: italic !important;
}

.signinbutton {
	padding-top: 0.5em;
}