
body {
	font-family: 'Crimson Text', 'CrimsonText', sans-serif !important; 
}

h1 { 
	font-size: 80px !important; 
}

h2 { 
	font-size: 3em !important;
}

.display-3 { 
	padding-top: 1em; 
	padding-bottom: 0.5em;
	font-family: 'Montserrat', sans-serif; 
	font-size: 80px !important; 
	text-align: center; 
	/* 	font-family: 'Open Sans', sans-serif; */
}

.lead { 
	font-size: 40px !important; 
	font-style: italic;
	text-align: center; 
}

.g-signin2 {
	padding-top: 100px;
}